@import '../../colors/search/search-entry'
@import '../../mixins/font'

.search-entry
  position: relative
  min-width: 285px
  min-height: 60px

  &:hover
    background: darken($search-entry-background, 10)

.search-entry-background
  background: $search-entry-background

.search-entry-title
  @include default-font-style

  font-size: 20px
  line-height: 26px

.search-entry-artist
  @include default-font-style

  font-size: 14px
  line-height: 20px