@import '../colors'
  
.search-entry
  position: relative
  width: 298px
  height: 60px

  // filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25))
  border-radius: 5px

.search-entry-background
  background: $overlay-background

.search-entry-image
  position: absolute
  left: 0%
  right: 79.87%
  top: 0%
  bottom: 0%

  img
    border-radius: 5px 0px 0px 5px

.search-entry-text
  font-family: Open Sans
  font-style: normal
  font-weight: 600

.search-entry-title
  position: absolute
  left: 23.49%
  right: 3.36%
  top: 13.33%
  bottom: 53.33%

  /* Search Entry/Title */
  font-size: 20px
  line-height: 27px

  /* Twitch/Light Mode/Text/Bright */
  color: #F3F3F3

.search-entry-artist
  position: absolute
  left: 23.49%
  right: 3.36%
  top: 51.67%
  bottom: 23.33%

  /* Search Entry/Artist */
  font-size: 14px
  line-height: 19px

  /* Twitch/Light Mode/Text/Bright */
  color: #F3F3F3