@import '../colors/searchbar'
@import '../mixins/font'

.searchbar
  position: relative
  min-width: 298px
  min-height: 35px

  background: $searchbarBackground

  input
    @include defaultFontStyle

    font-size: 16px
    line-height: 20px

  input:focus
    outline: none
