@import '../colors/scrollbar'

@mixin default-scrollbar
  &::-webkit-scrollbar
    width: 8px

  &::-webkit-scrollbar-track
    background-color: $scrollbar-track-color
    border-radius: 10px

  &::-webkit-scrollbar-thumb
    background-color: $scrollbar-thumb-color
    border-radius: 10px