@import '../../colors/song/song-details'
@import '../../mixins/font'

.song-details
  background: $song-details-background

  .song-details-button
    min-height: 30px

    background: $song-details-button-background

    &:hover
      background: darken($song-details-button-background, 10)


  .song-details-back
    min-width: 90px

  .song-details-request
    min-width: 180px

    p
      @include default-font-style
    
  .status-message
    position: absolute

    top: 40%

    z-index: 2

    &.status-message-error
      .status-message-content
        background: 	rgba(219, 109, 109, 0.95)

    &.status-message-success
      .status-message-content
        background: rgba(168, 202, 104, 0.95)

    .status-message-content
      position: relative

      top: -40%

      p
        @include default-font-style