@import '../../colors/song/song-details'
@import '../../mixins/font'

.song-details
  background: $song-details-background

  .song-details-button
    background: $song-details-button-background

    &:hover
      background: darken($song-details-button-background, 10)

  .song-details-request
    p
      @include default-font-style
  